@import url("photographer.css");

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

h1 {
  color: #901c1c;
  margin-right: 100px;
  font-weight: normal;
}

.logo {
  height: 50px;
  margin-left: 100px;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
}

.photographer_section article {
  cursor: pointer;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3px;
}

.photographer_section article h2 {
  text-align: center;
  margin-bottom: 0;
  color: #d3573c;
  font-size: 36px;
  font-weight: normal;
}

.photographer_section article h3 {
  margin: 0;
  color: #901c1c;
  font-size: 13px;
}

.photographer_section article blockquote {
  margin: 0;
  color: black;
  font-size: 10px;
}

.photographer_section article span {
  color: #757575;
  font-size: 9px;
}

.photographer_section article div {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photographer_section article img {
  width: 100%;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

a {
  display: block; /* Pour que le lien prenne toute la largeur */
  text-decoration: none; /* Pour enlever le soulignement par défaut */
  color: inherit; /* Pour garder la couleur du texte */
}

a:focus {
  outline: 3px solid #d3573c; /* Style de focus visible */
  outline-offset: 2px;
}
